body
{
	color: #fff;
}

.legend
{
	position: absolute;
	width: 70px;
	height: 25px;
	background-size: 100%;
	background-position: 0 0;
	margin-top: 20px;
	padding: 0;
}
.legend span
{
	display: none;
}
.line
{
	display: none;
}	

#basic, #about, #target, #edu, #skill, #honor, #exp, #contact
{
	background-size: 100% 100%;
}

#about .legend {
	background-image: url('icon_intro.png');
}
#target .legend {
	background-image: url('icon_target.png');
}
#edu .legend {
	background-image: url('icon_edu.png');
}
#exp .legend {
	background-image: url('icon_exp.png');
	width: 102px;
}
#skill .legend {
	background-image: url('icon_skill.png');
}
#honor .legend {
	background-image: url('icon_honor.png');
	width: 108px;
}
#contact .legend {
	background-image: url('icon_contact.png');
	left: 50%;
	margin-left: -35px;
}

.container div:nth-child(even) .legend {
	left: 25px;
}

.container div:nth-child(odd) .legend {
	right: 25px;
}

.container div:last-of-type .legend {
	left: 50%;
}


#basic
{
	background-image: url('bck1.png');
}
#about
{
	background-image: url('bck2.png');
}
#target
{
	background-image: url('bck3.png');
}
#edu
{
	background-image: url('bck4.png');
}

#exp
{
	background-image: url('bck5.png');
}

#skill
{
	background-image: url('bck6.png');
}
#honor
{
	background-image: url('bck7.png');
}
#contact
{
	background-image: url('bck8.png');
}

#basic
{
	padding-top: 25px;
	padding-bottom: 40px;
	margin: 0;
	background-size: cover;
	float: left;
	width: 100%;
}
#basic #avatar
{
	margin-left: 25px;
}
#basic #avatar,
#basic #avatar #photoAvatar,
#basic #avatar #videoAvatar
{
	float: left;
	height: 100px;
	width: 100px;
}
#basic #avatar #videoMask
{
	width: 102px;
	height: 102px;
	background-image: url("mask.png");
}

#basic #basic_info
{
	text-align: left;
	margin-left: 145px;
}

#basic #basic_info .line1 {
	margin-top: 2px;
}

#basic #basic_info #homeTown {
	display: block;
	margin-top: 8px;
}

#target #expect td.title
{
	color: #dfdfdc;
}
#target #expect td.description
{
	color: #fff;
}

#edu #colleges li,
#exp #experiences li
{
	background-image: url(circle-line.png);
}
#edu #colleges li:last-of-type,
#exp #experiences li:last-of-type
{
	background-image: url(circle-end.png);
}
#edu #colleges li .year,
#exp #experiences li .year
{
	color: #f1f1ef;
}

#skill #skills td.title
{
	color: #fff;
}
#skill #skills .rank li
{
	background-color: #f1f1ef;
}

#honor #honors td.title
{
	color: #f1f1ef;
}
#honor #honors td.dd
{
	color: #dfdfdf;
}
#honor #honors td.content
{
	color: #fff;
}

#contact .line
{
    position: absolute;
    border-left: 1px solid #fff;
    border-width: 0 0 0 1px;
    display: block;
    height: 40px;
    left: 50%;
    margin-left: 0;
    top: 45px;
    width: 1px;	
}

#contact .tel
{
    margin-top: 20px;
	background-color: #fff;
	background-image: url('icon_phone.png');
}
#contact .email
{
	background-color: #fff;
	background-image: url('icon_mail.png');
}
#contact .tel a,
#contact .email a
{
	color: #313131;
}
	
#contact table td.title
{
	color: #f1f1ef;
}
#contact table td.dd
{
	color: #dfdfdf;
}
#contact table td.content
{
	color: #fff;
}

#xiaomo {
	border: none;
}